<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="./Ammachethivanta.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="div-fluid">
        <div class="div-fluid shadow-sm bg-light">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col p-2 ps-1 text-center">
                            <img src="./res.png" class="rounded logo" style="right:50px">
                        </div>
                    </div>
                </div>
                <div class="col-8 p-4">
                    <div class="row">
                        <div class="col p-2 text-start ps-5">
                            <span class="hea display-5 mainhead">AMMA CHETHI VANTA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-fluid p-2">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 text-center">
                    <div class="row">
                        <div class="col-12 col-sm-2">
                            <button class="btn" onclick="location.href='../Ammachethivanta.html'">Home</button>
                        </div>
                        <div class="col-12 col-sm-2">
                            <button class="btn" onclick="location.href='./menu.html'">Menu</button>
                        </div>
                        <div class="col-12 col-sm-2">
                            <button class="btn" onclick="location.href='./loc.html'">Hours & Location</button>
                        </div>
                        <div class="col-12 col-sm-2">
                            <button class="btn" onclick="location.href='./reservation.html'">Reservations</button>
                        </div>
                        <div class="col-12 col-sm-2">
                            <button class="btn" onclick="location.href='./Contact.html'">Contact</button>
                        </div>
                        <div class="col-12 col-sm-2">
                            <button class="btn" onclick="location.href='./jobs.html'">Jobs</button>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
    <div class="div bg-light m-5">
        <div class="row m-4">
            <div class="col-12 text-center display-5 mb-4">
                <strong style="color:red">Our Menu</strong>
            </div>
            <div class="col-12 text-center bg-lime m-3 pb-2" style="background-color:#E0E0E0" >
                <div class="row">
                    <div class="col-12 m-3" style="font-size:20px;color:brown"><strong><i class="fa-solid fa-bowl-hot"></i>Soups</strong></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 m-3" style="font-size:medium"><strong>Veg</strong>
                            </div>
                            <div class="col-12 m-3">Sweet Corn Soup</div>
                            <div class="col-12 m-3">Hot and Sour Soup</div>
                            <div class="col-12 m-3">Mirayala Charu</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 m-3" style="font-size:medium"><strong>Non-Veg</strong>
                            </div>
                            <div class="col-12 m-3">Chicken Corn Soup</div>
                            <div class="col-12 m-3">Chicken Hot and Sour Soup</div>
                            <div class="col-12 m-3">Chicken Cantonese Soup</div>
                            <div class="col-12 m-3">Chicken Manchow Soup</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 text-center bg-lime m-3" style="background-color:#F9EDEC">
                <div class="row">
                    <div class="col-12 m-3" style="font-size:20px;color:brown"><strong>Starters</strong></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 m-3" style="font-size:medium"><strong>Veg</strong>
                            </div>
                            <div class="col-12 m-3">Vegetable Pakora</div>
                            <div class="col-12 m-3">Mushroom Pakora</div>
                            <div class="col-12 m-3">Cauliflower Pakora</div>
                            <div class="col-12 m-3">Chill Pakora</div>
                            <div class="col-12 m-3">Panner 65</div>
                            <div class="col-12 m-3">Panner Kebab</div>
                            <div class="col-12 m-3">Chill Paneer</div>
                            <div class="col-12 m-3">Channa Chat</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 m-3" style="font-size:medium"><strong>Non-Veg</strong>
                            </div>
                            <div class="col-12 m-3">Chicken Pakora</div>
                            <div class="col-12 m-3">Chill Chicken</div>
                            <div class="col-12 m-3">Chicken Kebabs</div>
                            <div class="col-12 m-3">Chicken Tandoori</div>
                            <div class="col-12 m-3">Fish Pakora</div>
                            <div class="col-12 m-3">Pacific King Prawn</div>
                            <div class="col-12 m-3">Lamb Tikki</div>
                            <div class="col-12 m-3">Seekh Kebab</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 text-center bg-lime m-3" style="background-color:#F9EDEC">
                <div class="row">
                    <div class="col-12 m-3" style="font-size:20px;color:brown"><strong>Main Courses</strong></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 m-3" style="font-size:medium;"><strong>Veg</strong>
                            </div>
                            <div class="col-12 m-3">Plain Palak</div>
                            <div class="col-12 m-3">Tomato Cut Curry</div>
                            <div class="col-12 m-3">Bhendi Fry</div>
                            <div class="col-12 m-3">Veg.Do Pyaza</div>
                            <div class="col-12 m-3">Aloo gobi</div>
                            <div class="col-12 m-3">Aloo Jeera</div>
                            <div class="col-12 m-3">Veg Taka-Tak</div>
                            <div class="col-12 m-3">Mushroom Masala</div>
                            <div class="col-12 m-3">Butter Panner Masala</div>
                            <div class="col-12 m-3">Panner Kadayi</div>
                            <div class="col-12 m-3">Aloo Masala</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 m-3" style="font-size:medium"><strong>Non-Veg</strong>
                            </div>
                            <div class="col-12 m-3">Andhra CHicken Curry</div>
                            <div class="col-12 m-3">South India Fish Curry</div>
                            <div class="col-12 m-3">Murgh Tikka Masala</div>
                            <div class="col-12 m-3">Old Delhi Butter Chicken</div>
                            <div class="col-12 m-3">Dum Methi Murgh</div>
                            <div class="col-12 m-3">Mutton Rogan Josh</div>
                            <div class="col-12 m-3">Mutton Masala</div>
                            <div class="col-12 m-3">Kadai Mutton</div>
                            <div class="col-12 m-3">Butter Chicken Masala</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 text-center bg-lime m-3" style="background-color:#F9EDEC">
                <div class="row">
                    <div class="col-12 m-3" style="font-size:20px;color:brown"><strong>Biryanis</strong></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 m-3" style="font-size:medium"><strong>Veg</strong>
                            </div>
                            <div class="col-12 m-3">Biryani rice</div>
                            <div class="col-12 m-3">Veg Biryani</div>
                            <div class="col-12 m-3">Panner Biryani</div>
                            <div class="col-12 m-3">Mushroom Biryani</div>
                            <div class="col-12 m-3">Veg Palav</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 m-3" style="font-size:medium"><strong>Non-Veg</strong>
                            </div>
                            <div class="col-12 m-3">Chicken Dum Biryani</div>
                            <div class="col-12 m-3">Chicken Special Biryani</div>
                            <div class="col-12 m-3">Mutton Fry Biryani</div>
                            <div class="col-12 m-3">Fish Biryani</div>
                            <div class="col-12 m-3">Prawns Biryani</div>
                            <div class="col-12 m-3">EGG Biryani</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 text-center bg-lime m-3" style="background-color:#F9EDEC">
                <div class="row">
                    <div class="col-12 m-3" style="font-size:20px;color:brown"><strong>Deserts</strong></div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 m-3">Double Ka Meetha</div>
                            <div class="col-12 m-3">Qubani Ka Meetha</div>
                            <div class="col-12 m-3">Gulab Jamun</div>
                            <div class="col-12 m-3">Gajar Ka Halwa</div>
                            <div class="col-12 m-3">Chocolate Brownie</div>
                            <div class="col-12 m-3">Ice Cream(All Flavors)</div>
                            <div class="col-12 m-3">Pot Kulfi</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 text-center bg-lime m-3" style="background-color:#F9EDEC">
                <div class="row">
                    <div class="col-12 m-3" style="font-size:20px;color:brown">
                        <i class="fa-solid fa-cup-straw"></i>
                        <strong>Soft Drinks</strong>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-12 m-3 text-center">Thumbs-UP</div>
                            <div class="col-12 m-3">Sprite</div>
                            <div class="col-12 m-3">Fanta</div>
                            <div class="col-12 m-3">Coco-Cola</div>
                            <div class="col-12 m-3">Moutain Dew</div>
                            <div class="col-12 m-3">Maaza</div>
                            <div class="col-12 m-3">Minerial Water</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-fluid">
            <div class="row m-3">
                <div class="col-4 text-center">
                    <button class="btn">Terms & Conditions</button>
                </div>
                <div class="col-4 text-center">
                    <button class="btn">Privacy Policy</button>
                </div>
                <div class="col-4 text-center">
                    <button class="btn">Refund Policy</button>
                </div>
            </div>
        </div>

    </div>
</body>